.ImageGalleryItem {
  border-radius: 4px;
  box-shadow: var(--shadow);
}

.ImageGalleryItemImage {
  width: 100%;
  height: 260px;
  object-fit: cover;
  transition: transform var(--animation);
}

.ImageGalleryItemImage:hover {
  transform: scale(1.02);
  cursor: zoom-in;
}
