.Button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 8px 16px;
  border-radius: 4px;
  background-color: var(--accent-bg-color);
  transition: background-color var(--animation);
  text-align: center;
  display: block;
  color: var(--white-text-color);
  border: 0;
  text-decoration: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  font-weight: 500;
  min-width: 180px;
  box-shadow: var(--shadow);
}

.Button:hover,
.Button:focus {
  background-color: var(--accent-hover-bg-color);
}
